body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    text-align: center;
  }
  
  #search-bar {
    display: flex;
    justify-content: center;
    margin: 5vh;
  }

  #body-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  #filters-bloc {
    display: flex;
    flex-direction: row;
    margin: 5vh;
  }
  
  .pokemonBloc, .pokemonBlocFilter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    
  }

  article {
    width: 150px;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    background-color: rgb(239, 243, 243);
    text-align: center;
    transition: transform 0.5s ease-in-out;
  }
  
  article:hover {
    transform: scale(1.23);
  }

  a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
  }