body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    text-align: center;
  }
  
  #body-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  
  #filters-bloc {
    display: flex;
    flex-direction: row;
    margin: 5vh;
  }
  
  .pokemonBloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    
  }
  article{
    /*display: flex;
    justify-content: center;
    flex-direction: column;*/

    width: 250px;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    background-color: rgb(239, 243, 243);
    margin-left: auto;
    margin-right: auto;


  }
  a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
  }